# vim: filetype=gitconfig shiftwidth=4 tabstop=4 softtabstop=0 smarttab expandtab

[core]
    autocrlf = false
    editor = nvim
{{- if eq .chezmoi.hostname "LAPTOP-CB-ETI" }}
    sshCommand = ssh -i ~/.ssh/bitbucket_centerboard_rsa
{{- else }}
[init]
    defaultBranch = main
{{- end }}
{{- if eq .chezmoi.fqdnHostname "mail.touhou-online.net" }}
[safe]
    directory = /data
    directory = /data/email
{{- end }}
[diff]
    tool = nvim
[difftool]
    prompt = false
[difftool "nvim"]
    cmd = nvim -d $LOCAL $REMOTE
[pull]
    rebase = merges
[rebase] 
    instructionFormat = %s
[user]
    name = Etienne Schmitt
{{- if eq .chezmoi.hostname "LAPTOP-CB-ETI" }}
    email = etienne.schmitt@centerboard.ch
{{- else }}
    email = etienne@schmitt-etienne.fr
    signinkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHSwAiuqFA4ekqtCFlLsxMuzu7LpPpLm6xstbmWt9y4+
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
[gpg]
    format = ssh
[gpg "ssh"]
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
    gpgsign = true
{{- end }}
[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
    tidy = rebase --interactive @{upstream}..
[diff "lockb"]
    textconv = bun
    binary = true
