# vim: filetype=gitconfig shiftwidth=4 tabstop=8 softtabstop=0 smarttab expandtab

[core]
    autocrlf = false
    editor = nvim
{{- if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
    sshCommand = /mnt/c/Windows/System32/OpenSSH/ssh.exe
{{- end }}
{{- if ne .chezmoi.hostname "LAPTOP-CB-ETI" }}
[init]
    defaultBranch = main
{{- end }}
[diff]
    tool = nvim
[difftool]
    prompt = false
[difftool "nvim"]
    cmd = nvim -d $LOCAL $REMOTE
[pull]
    rebase = merges
[rebase] 
    instructionFormat = %s
[user]
    name = Etienne Schmitt
{{- if ne .chezmoi.hostname "LAPTOP-CB-ETI" }}
    email = etienne@schmitt-etienne.fr
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHSwAiuqFA4ekqtCFlLsxMuzu7LpPpLm6xstbmWt9y4+
{{- else }}
    email = etienne.schmitt@centerboard.ch
{{- end }}
{{- if ne .chezmoi.hostname "LAPTOP-CB-ETI" }}
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
{{- if eq .chezmoi.os "darwin" }}
[gpg]
    format = ssh
[gpg "ssh"]
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- end }}
[commit]
    gpgsign = true
{{- end }}
[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg = lg1
    tidy = rebase --interactive @{upstream}..

