# vim: syntax=sh shiftwidth=4 tabstop=8 softtabstop=0 smarttab expandtab

# Custom command
alias fjson='python3 -m json.tool'
alias dstan='docker run -itv $PWD:/app --rm ghcr.io/phpstan/phpstan:latest-php8.2'
alias lsop='sudo lsof -nP +c 15 | grep LISTEN --color=never'

# Shortcut
alias k='kubectl'
alias h='helm'
alias kns='kubectl config set-context --current -n'

alias tt='tree -dL 2'
alias ttt='tree -dL 3'
alias tttt='tree -dL 4'

# Replacing shortcut
alias vim="nvim"
alias rgrep="rgrep -n"
